.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.order {
  flex: 2;
  background-color: #777777;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.checkout {
  flex: 1;
  background-color: #707070;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderButton {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 12rem;
  max-height: 12rem;
  min-width: 12rem;
  max-width: 12rem;
  padding: 10px 10px;
  transition: all 250ms;
  touch-action: manipulation;
}

.orderButton:hover,
.orderButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.orderButton:hover {
  transform: translateY(-1px);
}

.orderButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.orderItems {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.orderItem {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  background: #f2f2f2;
  color: #000000;
  padding: 8px 12px;
  width: fill;
}

.itemName {
    justify-content: left;
}

.itemPrice {
    justify-content: right;
}

.checkoutContainer{
    display: flex;
    flex: 2;
    flex-direction: column;
    width: fill;
}

h1, p {
  text-align: center;
}